# Build and editor thing
/build/
/build-ninja/
/build-xcode/
/build-make/
/build-debug/
/moldata/
/OpenSpace-WebGuiFrontend/
*~
*.dir
*.idea/
.build-vs/
.cproject
.project
.vs/
.vscode
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
cmake-build-*
cmake_install.cmake
install_manifest.txt
Makefile
compile_commands.json
.cache/

# OS specific things
.DS_Store
Thumbs.db
GPUCache

# OpenSpace-generated folders and files
/bin/
/cache/
/cache-*/
/cache_gdal/
/documentation/
/doc/
/logs/
/screenshots/
/recordings/
/user/
/sync/
/temp/
/shaders/
# Customization is not supposed to be committed
customization.lua
# The COMMIT info is generated everytime CMake is run
COMMIT.md
*_codegen.cpp
# SkyBrowser Module downloaded data
/modules/skybrowser/wwtimagedata
